body {
    width: 95%;
    margin: 20px auto;
    background: silver;
    text-align:center;
    font-size:24pt;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height:600px;
}

.pixelCanvasContainer {
  margin: auto;
  align-self: center;
}

.pixelCanvas {
  display: grid;
  grid-template-rows: repeat(10, 10px [row-start]);
  grid-template-columns: repeat(10, 10px [col-start]);
  grid-gap: 0px;

  background: lightsteelblue;
}

.pixel {
  margin: 0;
  padding: 0;
  border: 0;

  width: 10px;
  height: 10px;
  cursor: pointer;
}

nav {
    padding-top: 50px;
    flex: 0 1 20%;
    background: darkseagreen;
    font-size: 18pt;
}
main {
    margin: auto;
    flex: 0 1 60%;
    background: lightsteelblue;
}
aside {
    flex: 0 1 20%;
    background: gray;
    font-size: 18pt;
    padding-right: 5px;
    padding-top:50px;
}
footer {
    background: lemonchiffon;
    line-height: 50px;
}

ol{
    font-size:16pt;
}
